*{
    text-align: center;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    min-width: 400px;

    
}
.logo{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    /* background-color: bisque; */
    /* height: 100px; */
    width: 70%;
    min-width: 270px; 
    display: flex;
    align-items: center;

    
}
.img{
    width: 20%;
    float: left;
}
.img>img{
    width: 100%;
}
.logo-text{
    font-size: 3vw;
    color: #ff0b0b;
    /* background-color: rgb(252, 202, 12); */
    background: -webkit-linear-gradient(rgb(255, 255, 0),rgb(255,153,0) ); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgb(255, 255, 0),rgb(255,153,0)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgb(255, 255, 0),rgb(255,153,0)); /* Firefox 3.6 - 15 */
    background: linear-gradient(rgb(255, 255, 0),rgb(255,153,0)); /* 标准的语法 */
    margin-left: 10%;
    width: 80%;
    /* height: 100px; */
    /* line-height: 100px; */
    float: left;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
    text-wrap:none;
    
    height: 0;
    padding-bottom: 5%; 
    padding-top: 5%; 
    position: relative;  
}
.logo-text>p{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top:-1.5vw;
    /* bottom: 50%; */

    height: 100%;
    line-height: 100%;
    text-align: center;
}
.banner{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.banner>img{
    width: 100%;
}
.footer {
    width: 70%;
    background-color: rgb(245, 245, 245);
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.footer>.footer-left {
    flex: 1;
    text-align: center;
}

.footer>.footer-left>p {
    font-size: 0.9em;
    color: #888888;
}

.footer>.footer-center {
    flex: 2;
    padding-left: 10px;
    text-align: left;
}

.footer>.footer-center>span {
    font-size: 0.9em;
    color: #888888;
    text-align: left;
}

.footer>.footer-right {
    flex: 1;
    padding-left: 20px;
    text-align: center;
}